{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>Enter a URL</h1>
    <p>Source HTML will be displayed here with a summary and interactive highlighting.</p>
    <form class="navbar-form" action="/search/" method="get">
      <div class="form-group">
        <input type="text" placeholder="URL" class="form-control" name="url">
      </div>
      <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span>  Search</button>
    </form>
    <p class="error">
    {% if error %}
      Oops! Looks like there was a {{error}} with the url {{url}} :(
    {% endif %}
    </p>
  </div>
</div>

<div class="container">
  {% if error %}
    <div class="no-content">No Content</div>
  {% else %}
    <h2>{{url}}</h2>
    <div>
      <table>
      {% for tag, count in counts.items %}
        <tr>
          <button id="{{tag}}" class="btn btn-success tag-btn">{{tag}}: {{count}}</button>
        </tr>
      {% endfor %}
      </table>
    </div>
    <div id="sourceCode">
      {{html}}
    </div>
  {% endif %}
</div>

{% endblock %}

